pip install pillow 
pip install django
django-admin-interface
pip install psycopg2
pip install django-crispy-forms
pip install django-axes
pip install djangorestframework
pip install reportlab
pip install django-simple-captcha
pip install django-multi-captcha-admin





#ola3
# pip install r requirements.txt

